<!-- Footer -->
<footer id="cta">
    <ul class="icons" style = "margin-bottom: 3em;">
        <li><a href="https://github.com/mdmy-mlepicier/mdmygroup-website" target="_blank" class="icon brands fa-github">    <span class="label">Github    </span></a></li>
        <!-- <li><a href="https://www.linkedin.com/in/mlepicier/"         target="_blank" class="icon brands fa-linkedin">  <span class="label">LinkedIn  </span></a></li> -->
        <li><a href="mailto:contact@mdmygroup.com"                        target="_blank" class="icon solid fa-envelope">   <span class="label">Email     </span></a></li>
    </ul>
      
    <p>
        <img src="src/assets/img/icon/annuaire_entreprise_favicon.ico" alt="MDMY Logo" style="vertical-align: middle; margin-right: 0.5em; height: 1em;">
        <a href="https://annuaire-entreprises.data.gouv.fr/entreprise/mdmy-group-984182527" style="color: #e0e1dd;" target = "_blank">
            <strong style="color: #e0e1dd; text-decoration: none;">MDMY Group</strong>
        </a> - 9 Rue des Colonnes, 75002, Paris, France.
    </p>
    <ul class="copyright">
        <span>&copy; 2024 - MDMY Group SAS. All rights reserved.</span>
        <!-- <li><a href="http://html5up.net">HTML5 UP</a></li> -->
    </ul>
</footer>