<!-- Header -->
<header id="header" class="alt">
    <h1><a href="index.html">MDMY</a> Group</h1>
    <div class="language-switcher">
        <a href="#" id="lang-en" class="lang-btn" role="button" title="English">
            <img src="https://flagcdn.com/w40/us.png" alt="English" width="18" height="12">
        </a>
        <a href="#" id="lang-fr" class="lang-btn" role="button" title="Français">
            <img src="https://flagcdn.com/w40/fr.png" alt="Français" width="18" height="12">
        </a>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="index.html" id="home-link">Accueil</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down" id="sections-title">Sections</a>
                <ul>
                    <li><a href="#mission" id="mission-link">Mission</a></li> 
                    <li><a href="#team" id="team-link">Équipe</a></li> 
                    <li><a href="#cta" id="contact-link">Contact</a></li>
                    <!-- <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Option One</a></li>
                            <li><a href="#">Option Two</a></li>
                            <li><a href="#">Option Three</a></li>
                            <li><a href="#">Option Four</a></li>
                        </ul>
                    </li> -->
                </ul>
            </li>
            <!-- <li><a href="#" class="button">Sign Up</a></li> -->
        </ul>
    </nav>
</header>